@font-face {
    font-family: 'Ireene';
    src: url('Ireene-Bold.woff2') format('woff2'),
        url('Ireene-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gempire';
    src: url('Gempire-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gempire';
    src: url('Gempire-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gempire';
    src: url('Gempire-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Cinzel Regular */
@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Cinzel Bold */
@font-face {
  font-family: 'Cinzel';
  src: url('cinzel.bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

